#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.title {
	margin-bottom: 1em;
}

.cards,
.clan {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 3em;
	justify-content: center;
	align-items: center;
}

.card-img,
.clan-img {
	width: 12rem;
	border-radius: 5px;
	margin-bottom: 1em;
}

#card-0 .card-img {
	background-color: white;
}

#clan-0 .clan-img {
	background-color: white;
}

.card-container,
.clan-container {
	text-align: left;
}

.clan-container {
	background-color: #dedaba;
	padding: 1.5em;
	border-radius: 5px;
	color: #242424;
	margin-top: 1em;
}

.card-container h4 span {
	font-weight: 400;
}

.add-btn,
.show-clan-btn {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: transparent;
	outline: transparent;
	color: #242424;
	background-color: #fff;
	cursor: pointer;
	margin-top: 1em;
}

.add-btn:hover,
.add-btn:focus,
.show-clan-btn:focus,
.show-clan-btn:hover {
	opacity: 0.9;
}

.show-clan-btn {
	margin-top: 0;
	margin-bottom: 4em;
}
